{% extends "encyclopedia/layout.html" %}

{% block title%}
    {{ word }}
{% endblock %}

{% block body %}  
    {% if querySearch %}
        {{ querySearch|safe }}
        </br>
        <form action="{% url 'encyclopedia:editPage' %}"" method="POST">
            {% csrf_token %}
            <input type ="hidden" value="{{ word }}" id="word" name="word">
            <button style="margin-top: 15px;"type="submit" class="btn btn-primary">Edit</button>
        </form>
    {% else %}
    <h1>May be you meant one of the entries below:</h1>
        <ul>

            {% for key, value in capitalize.items %}
                {% if compare_word in value %}
                    <li><a href="{{ key }}">{{ key }}</a></li>
                {% endif %}
            {% endfor %}
        </ul>

        <span>Or create your own entry</span>
        <form action="{% url 'encyclopedia:newPage' %}"" method="GET">
            {% csrf_token %}
            <input type ="hidden" value="{{ word }}" id="word" name="word">
            <button style="margin-top: 15px;"type="submit" class="btn btn-primary">Create new entry</button>
        </form>
    {% endif %}

{% endblock %}